<h1>Work</h1>
<div class="container">
  <div class="shirt">
    <p><a href=<%= @shirt.women_url %>><img src=<%= @shirt.women_formal_image %>height="250" width="100"></a></p>
    <p><%= @shirt.women_formal_name %><p>
    <p><%= @shirt.women_formal_price %></p>
  </div>

  <div class="blazer">
  	<p><a href=<%= @blazer.women_url %>><img src=<%= @blazer.women_formal_image %>height="250" width="100"></a></p>
    <p><%= @blazer.women_formal_name %></p>
    <p><%= @blazer.women_formal_price %></p>
  </div>
 
 <div class="skirt">
 	<p><a href=<%= @skirt.women_url %>><img src=<%= @skirt.women_formal_image %>height="250" width="100"></a></p>
 	<p><%= @skirt.women_formal_name %></p>
 	<p><%= @skirt.women_formal_price %></p>
 </div>
 
 <div class="shoe">
 	<p><a href=<%= @shoe.women_url %>><img src=<%= @shoe.women_formal_image %>height="250" width="100"></a></p>
 	<p><%= @shoe.women_formal_name %></p>
 	<p><%= @shoe.women_formal_price %></p>
</div>
</div>