<h1>Formal</h1>
<div class="container">
  <div class="dress">
    <p><a href=<%= @dress.women_url %>><img src=<%= @dress.women_formal_image %>height="250" width="100"></a></p>
    <p><%= @dress.women_formal_name %><p>
    <p><%= @dress.women_formal_price %></p>
  </div>

  <div class="shoe">
  	<p><a href=<%= @shoe.women_url %>><img src=<%= @shoe.women_formal_image %>height="250" width="100"></a></p>
    <p><%= @shoe.women_formal_name %></p>
    <p><%= @shoe.women_formal_price %></p>
  </div>
 
 <div class="lip">
 	<p><a href=<%= @lip.women_url %>><img src=<%= @lip.women_formal_image %>height="250" width="100"></a></p>
 	<p><%= @lip.women_formal_name %></p>
 	<p><%= @lip.women_formal_price %></p>
 </div>
 
 <div class="ear">
 	<p><a href=<%= @ear.women_url %>><img src=<%= @ear.women_formal_image %>height="250" width="100"></a></p>
 	<p><%= @ear.women_formal_name %></p>
 	<p><%= @ear.women_formal_price %></p>
 </div>

 <div class="dress1">
    <p><a href=<%= @dress1.women_url %>><img src=<%= @dress1.women_formal_image %>height="300" width="200"></a></p>
    <p><%= @dress1.women_formal_name %><p>
    <p><%= @dress1.women_formal_price %></p>
  </div>

 <div class="shoe1">
  	<p><a href=<%= @shoe1.women_url %>><img src=<%= @shoe1.women_formal_image %>height="250" width="100"></a></p>
    <p><%= @shoe1.women_formal_name %></p>
    <p><%= @shoe1.women_formal_price %></p>
 </div>

 <div class="lip1">
 	<p><a href=<%= @lip1.women_url %>><img src=<%= @lip1.women_formal_image %>height="250" width="100"></a></p>
 	<p><%= @lip1.women_formal_name %></p>
 	<p><%= @lip1.women_formal_price %></p>
 </div>

 <div class="ear1">
 	<p><a href=<%= @ear1.women_url %>><img src=<%= @ear1.women_formal_image %>height="250" width="100"></a></p>
 	<p><%= @ear1.women_formal_name %></p>
 	<p><%= @ear1.women_formal_price %></p>
 </div>

 <div class="dress2">
    <p><a href=<%= @dress2.women_url %>><img src=<%= @dress2.women_formal_image %>height="250" width="100"></a></p>
    <p><%= @dress2.women_formal_name %><p>
    <p><%= @dress2.women_formal_price %></p>
  </div>

 <div class="shoe2">
  	<p><a href=<%= @shoe2.women_url %>><img src=<%= @shoe2.women_formal_image %>height="250" width="100"></a></p>
    <p><%= @shoe2.women_formal_name %></p>
    <p><%= @shoe2.women_formal_price %></p>
 </div>

 <div class="lip2">
 	<p><a href=<%= @lip2.women_url %>><img src=<%= @lip2.women_formal_image %>height="100" width="50"></a></p>
 	<p><%= @lip2.women_formal_name %></p>
 	<p><%= @lip2.women_formal_price %></p>
 </div>

 <div class="ear2">
 	<p><a href=<%= @ear2.women_url %>><img src=<%= @ear2.women_formal_image %>height="200" width="100"></a></p>
 	<p><%= @ear2.women_formal_name %></p>
 	<p><%= @ear2.women_formal_price %></p>
 </div>

 <div class="dress3">
    <p><a href=<%= @dress3.women_url %>><img src=<%= @dress3.women_formal_image %>height="250" width="100"></a></p>
    <p><%= @dress3.women_formal_name %><p>
    <p><%= @dress3.women_formal_price %></p>
  </div>

 <div class="shoe3">
  	<p><a href=<%= @shoe3.women_url %>><img src=<%= @shoe3.women_formal_image %>height="250" width="100"></a></p>
    <p><%= @shoe3.women_formal_name %></p>
    <p><%= @shoe3.women_formal_price %></p>
 </div>

 <div class="lip3">
 	<p><a href=<%= @lip3.women_url %>><img src=<%= @lip3.women_formal_image %>height="100" width="50"></a></p>
 	<p><%= @lip3.women_formal_name %></p>
 	<p><%= @lip3.women_formal_price %></p>
 </div>

 <div class="ear3">
 	<p><a href=<%= @ear3.women_url %>><img src=<%= @ear3.women_formal_image %>height="200" width="100"></a></p>
 	<p><%= @ear3.women_formal_name %></p>
 	<p><%= @ear3.women_formal_price %></p>
 </div>


</div>



