<h1>Formal</h1>
<div class="container">
  <div class="dress">
    <p><a href=<%= @dress.women_url %>><img src=<%= @dress.women_formal_image %>height="250" width="100"></a></p>
    <p><%= @dress.women_formal_name %><p>
    <p><%= @dress.women_formal_price %></p>
  </div>

  <div class="shoe">
  	<p><a href=<%= @shoe.women_url %>><img src=<%= @shoe.women_formal_image %>height="250" width="100"></a></p>
    <p><%= @shoe.women_formal_name %></p>
    <p><%= @shoe.women_formal_price %></p>
  </div>
 
 <div class="lip">
 	<p><a href=<%= @lip.women_url %>><img src=<%= @lip.women_formal_image %>height="250" width="100"></a></p>
 	<p><%= @lip.women_formal_name %></p>
 	<p><%= @lip.women_formal_price %></p>
 </div>
 
 <div class="ear">
 	<p><a href=<%= @ear.women_url %>><img src=<%= @ear.women_formal_image %>height="250" width="100"></a></p>
 	<p><%= @ear.women_formal_name %></p>
 	<p><%= @ear.women_formal_price %></p>
</div>
</div>

<h3><%= link_to 'Next', page2_path %></h3>
 







