<div class="dress3">
    <p><a href=<%= @dress3.women_url %>><img src=<%= @dress3.women_formal_image %>height="250" width="100"></a></p>
    <p><%= @dress3.women_formal_name %><p>
    <p><%= @dress3.women_formal_price %></p>
  </div>

 <div class="shoe3">
  <p><a href=<%= @shoe3.women_url %>><img src=<%= @shoe3.women_formal_image %>height="250" width="100"></a></p>
    <p><%= @shoe3.women_formal_name %></p>
    <p><%= @shoe3.women_formal_price %></p>
 </div>

 <div class="lip3">
 	<p><a href=<%= @lip3.women_url %>><img src=<%= @lip3.women_formal_image %>height="100" width="50"></a></p>
 	<p><%= @lip3.women_formal_name %></p>
 	<p><%= @lip3.women_formal_price %></p>
 </div>

 <div class="ear3">
 	<p><a href=<%= @ear3.women_url %>><img src=<%= @ear3.women_formal_image %>height="200" width="100"></a></p>
 	<p><%= @ear3.women_formal_name %></p>
 	<p><%= @ear3.women_formal_price %></p>
 </div>
 <h3><%= link_to 'Previous', page3_path %></h3>