<h1>Casual</h1>
<div class="container">
  <div class="shirt">
    <p><a href=<%= @shirt.women_url %>><img src=<%= @shirt.women_formal_image %>height="250" width="100"></a></p>
    <p><%= @shirt.women_formal_name %><p>
    <p><%= @shirt.women_formal_price %></p>
  </div>

  <div class="jean">
  	<p><a href=<%= @jean.women_url %>><img src=<%= @jean.women_formal_image %>height="250" width="100"></a></p>
    <p><%= @jean.women_formal_name %></p>
    <p><%= @jean.women_formal_price %></p>
  </div>
 
 <div class="shoe">
 	<p><a href=<%= @shoe.women_url %>><img src=<%= @shoe.women_formal_image %>height="250" width="100"></a></p>
 	<p><%= @shoe.women_formal_name %></p>
 	<p><%= @shoe.women_formal_price %></p>
 </div>
 
 <div class="neck">
 	<p><a href=<%= @neck.women_url %>><img src=<%= @neck.women_formal_image %>height="250" width="100"></a></p>
 	<p><%= @neck.women_formal_name %></p>
 	<p><%= @neck.women_formal_price %></p>
</div>
</div>