<%= render "greenpar" %>
<br>
</br>
</br>
<div class="container">
  <div class="dressg">
    <p><a href=<%= @dress.women_url %>><img src=<%= @dress.women_formal_image %> id="1" height="250" width="100"></a></p>
    <p><%= @dress.women_formal_name %><p>
    <p><%= @dress.women_formal_price %></p>
  </div>

  <div class="shoeg">
  	<p><a href=<%= @shoe.women_url %>><img src=<%= @shoe.women_formal_image %>height="250" width="100"></a></p>
    <p><%= @shoe.women_formal_name %></p>
    <p><%= @shoe.women_formal_price %></p>
  </div>
</div>