<%= render "greenpar" %>
<br>
</br>
</br>
<div class="container">
  <div class="shirtgw">
    <p><a href=<%= @shirt.women_url %>><img src=<%= @shirt.women_formal_image %> id="1" height="250" width="100"></a></p>
    <p><%= @shirt.women_formal_name %><p>
    <p><%= @shirt.women_formal_price %></p>
  </div>

  <div class="pantsgw">
  	<p><a href=<%= @pants.women_url %>><img src=<%= @pants.women_formal_image %>height="250" width="100"></a></p>
    <p><%= @pants.women_formal_name %></p>
    <p><%= @pants.women_formal_price %></p>
  </div>
</div>