<h1>Work</h1>
<div class="container">
  <div class="shirt">
    <p><a href=<%= @shirt.women_url %>><img src=<%= @shirt.women_formal_image %>height="300" width="200"></a></p>
    <p><%= @shirt.women_formal_name %><p>
    <p><%= @shirt.women_formal_price %></p>
  </div>

  <div class="shoe">
  	<p><a href=<%= @pants.women_url %>><img src=<%= @pants.women_formal_image %>height="300" width="200"></a></p>
    <p><%= @pants.women_formal_name %></p>
    <p><%= @pants.women_formal_price %></p>
  </div>
 
 <div class="shoe">
 	<p><a href=<%= @shoe.women_url %>><img src=<%= @shoe.women_formal_image %>height="300" width="200"></a></p>
 	<p><%= @shoe.women_formal_name %></p>
 	<p><%= @shoe.women_formal_price %></p>
 </div>