<h1>Formal</h1>
<div class="container">
  <div class="suit">
    <p><a href=<%= @suit.women_url %>><img src=<%= @suit.women_formal_image %>height="300" width="200"></a></p>
    <p><%= @suit.women_formal_name %><p>
    <p><%= @suit.women_formal_price %></p>
  </div>

  <div class="shoe">
  	<p><a href=<%= @shoe.women_url %>><img src=<%= @shoe.women_formal_image %>height="300" width="200"></a></p>
    <p><%= @shoe.women_formal_name %></p>
    <p><%= @shoe.women_formal_price %></p>
  </div>